<h1>Make a new Pirate</h1>

<form method='POST' action='/pirates'>
<br>
    <label for='name'> New:</label>
     <input type='text' name='name'>
</br>
 <br>
        <label for="nickname">Nickname: </label>
        <input type="text" name="nickname">
    </br>
<br>
<label for='birthplace' name='birthplace'></label>
<input type='text' name='birthplace'>
</br>
<br> 
<label for='death_year'>Year of death:</label>
<input type='text' name='death_year'>
</br>
<button>New Pirate dude</button>
</form>


